* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  max-width: 1920px;
  margin: auto;
  font-family: 'Roboto Condensed', sans-serif;
  background-color: #fefefe;
  cursor: default;
}

.container {
  margin: auto;
  max-width: 1024px;
}

button {
  background-color: transparent;
  color: rgb(201, 67, 67);
  border-style: none;
  border-radius: 2px;
  padding: 5px;
  font-size: 12px;
  text-transform: capitalize;
  cursor: pointer;
}

header {
  background-color: beige;
}

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 50px;
  padding: 20px 0;
}

.page-logo {
  font-size: 20px;
  font-weight: bold;
}

.main-container {
  display: flex;
}

.slider-container {
  display: flex;
  flex-direction: column;
  margin: auto;
  justify-content: center;
  max-width: 300px;
  margin-bottom: 30px;
}

.slider {
  background-color: transparent;
  font-size: 30px;
  color: rgb(201, 67, 67);
  text-align: center;
  margin-bottom: 10px;
}

.pause-btn {
  /* text-align: center; */
  margin: auto;
  color: cornflowerblue;
}

section.s1 {
  background-color: beige
}

.panel-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  background-color: beige
}

.add-btn,
.test-btn {
  width: 50px;
  height: 20px;
  background-color: cornflowerblue;
  color: #fefefe;
  line-height: 10px;
}

.search {
  padding: 10px;
  border-radius: 20px;
  margin-bottom: 30px;
}

.panel input {
  margin: 20px;
  padding: 0 10px;
}

.panel>input:nth-child(3) {
  width: 400px;
}

.box-container {
  display: flex;
  justify-content: center;
}

table {
  padding: 30px 0;
}

thead {
  background-color: lightblue;
}

tbody>tr:nth-child(even) {
  background-color: beige;
}

td {
  position: relative;
  width: 150px;
  padding: 5px 10px;
}

td>button {
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
}

td:nth-child(3) {
  width: 400px;
}

.hidden {
  opacity: 0;
}